$primary: #00A7E1;
$secondary: #6B7A89;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #EDE8F5;
$dark: #343a40;

$body-bg: #EDE8F5;
$body-bg-dark: darken($dark, 10%);

//Dark mode variables
$primary-dark: #007EA7;
$light-dark: #EAEAEA;